body {
    background-image: url("../img/bgmain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: Courier New, Courier, monospace;
    font-size: 25px;
}

.join-btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.font20 {
    font-size: 20px;
}

a {
    font-weight: bold;
    text-decoration: none;
}

.btn-custom :hover {
    cursor: pointer
}