body {
    background-image: url("../img/Capture.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center center;*/
    background-attachment: fixed;
    font-family: Courier New, Courier, monospace;
    font-size: 55px;
}
.center {
    padding-top: 80px;
    padding-left: 140px;
}
form {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 20px;
    padding-left: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

