body {
    background-image: url("../img/bgmain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.mask-custom {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.topic {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: Courier New, Courier, monospace;
    font-size: 30px;
}

.scroll {
    max-height: 400px;
    overflow-y: scroll;
}

.h-full {
    height: 100%;
}

.chat-box {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-left: 60px;
    padding-right: 80px;
}

