@model IEnumerable<TopicViewModel>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebTopicChat.ClientMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/getlist.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebTopicChat.ClientMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <div class="row text-white">
            <div class="col-12 col-md-12 col-xl-12 text-center center">
                <a href="#"> Create new </a>
                @if (Model == null || !Model.Any())
                {
                    <p>No topics found!</p>
                }
                else
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Topic ID</th>
                                <th>Topic Name</th>
                                <th>Owner ID</th>
                                <th>Owner Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var topic in Model)
                            {
                                <tr>
                                    <td>@topic.id</td>
                                    <td>@topic.name</td>
                                    <td>@topic.ownerId</td>
                                    <td>@topic.ownerName</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</body>
</html>