@model IEnumerable<TopicViewModel>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebTopicChat.ClientMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/getlist.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebTopicChat.ClientMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-12 col-xl-12 text-center center">
                @if (Model == null || !Model.Any())
                {
                    <p>No topics found!</p>
                }
                else
                {
                    <table class="table text-white border-1 m-3">
                        <thead>
                            <tr>
                                <th>Topic Name</th>
                                <th>Owner Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var topic in Model)
                            {
                                <tr>
                                    <td>@topic.Name</td>
                                    <td>@topic.OwnerName</td>
                                    <td>
                                    <td>
                                        @if (topic.IsSubcribed == true)
                                        {
                                        @Html.ActionLink("Join", "GetMessage", new { id = topic.Id }) 
                                        }
                                    </td>
                                    <td>
                                        @if (topic.IsSubcribed == false)
                                        {
                                            <button asp-action="" class="join-btn bg-primary">Sub</button>
                                        }
                                        else
                                        {
                                            <button asp-action="" class="join-btn bg-danger">UnSub</button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                <div class="text-white">
                    If you don’t subcribe any topic?  <a href="#"> Create new </a>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>