@model WebTopicChat.ClientMVC.Models.Client
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebTopicChat.ClientMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebTopicChat.ClientMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="col-md-12 col-lg-12 col-xl-12 text-white text-center center">
        WELCOME TO <br /> OUR TOPIC-CHAT WEB
    </div>
    <form asp-action="Auth" method="post">
        <div>
            <input name="username" class=" form-control mr-sm-2 m-1" type="text" asp-for="UserName" placeholder="Username" />
        </div>
        <div>
            <input name="password" class="form-control mr-sm-2 m-1" asp-for="Password" placeholder="Passwword" />
        </div>
        <button class="form-control mr-sm-2 m-1 f" style="width:100px"type="submit">Login</button>
    </form>
</body>
</html>