<<<<<<< Updated upstream
<<<<<<< Updated upstream
﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
=======
=======
>>>>>>> Stashed changes
﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebTopicChat.ClientMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/search.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebTopicChat.ClientMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-12 col-xl-12 text-center center">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2 w-50 mx-auto" type="text" placeholder="Search topic">
                    <button class="btn btn-outline-success m-1 my-sm-0 p-2" type="submit">Search</button>
                </form>
                <p>
                    If you don’t subcribe any topic?  <a href="#"> Create new </a>
                </p>
            </div>
        <div>
    </div>
</body>
<<<<<<< Updated upstream
</html>
>>>>>>> Stashed changes
=======
</html>
>>>>>>> Stashed changes
